.notbackground{
    background-color: transparent!important;
}

.header-middle-layout .container .row {
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
}

.listback{
    background-color: #00262C;
    color: #fff;
}

@media (max-width: 767px) {
    .mainmenu.pull-left{
        float: none !important;
    }
    .header-bottom{
        background-color:#172431;


    }
    .search_box{
        margin-top: -28px;
    }
}